* {
  background-color: white;
  color:black;
}
.flex{
  display:flex;
  border: 1px solid black;
  max-width: 500px;
  margin-bottom: 10px;
  height: 200px;

}

.default{
  flex-flow: row nowrap;

}

.c-wrap{
  flex-flow: column wrap;

}

.wrap{
  flex-flow: row wrap;
}

.wrap-reverse{
  flex-flow: row wrap-reverse;
}

.row-reverse_nowrap{
  flex-flow: row-reverse nowrap;
}

.row-reverse_wrap{
  flex-flow: row-reverse wrap;
}

.row-reverse_wrap-reverse{
  flex-flow: row-reverse wrap-reverse;
}

.item{
  background-color: blueviolet;
  margin: 5px;
  color:white;
  text-align: center;
  width: 100px;
  height: 50px;
  line-height: 50px;
} 